:root {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

body {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

canvas {
  background: #1a1a1a;
}